snippet fun
	function ${1:function_name}(${2})
	{
		${3}
	}
snippet with
	with(${1}){
	}
snippet if
	if(${1}){
	}
snippet el
	else{${1}
	}
snippet elif
	else if(${1}){
	}
snippet for
	for(${1}){
	}
snippet wh
	while(${1}){
	}
snippet do
	do{
	}while(${1});
snippet tp
	typeof
snippet p
	document.writeln(${1});
snippet al
	alert(${1});
snippet t
	this
