snippet -
	--[[
	${1}
	--]]
snippet n
	nil
snippet p
	print
snippet l
	local
snippet re
	return
snippet str
	string
snippet func
	function
snippet if
	if ${1} then
	end
snippet elif
	elseif ${1} then
snippet el
	else
		${1}
snippet for
	for ${1} do
	end
snippet wh
	while ${1} do
	end
snippet rep
	repeat
		${1}
	until
snippet fun
	function ${1}
	end
